doctype html

html
  head
    title about page
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    h1 about page
    p Introduction to Express
    .example Licence 3 Informatique - option
      em Javascript et son écosystème
    #otherexample
      | voir
      |
      a(href="http://portail.fil.univ-lille1.fr/ls6/js") sur le portail
